<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VueJS Pratice</title>
    <link rel="stylesheet" href="style/mystyle.css">
    <script src="script/vue.js"></script>
    <script src="script/myScript.js"></script>
  </head>
  <body>
    <div id="battleGround">
      <!-- health bar -->
    	<div class="health flex">
    	  <div class="health-wrapper">
          <!-- <img src="images/hero.gif" alt=""> -->
          <div id="player" class="health-wrapper-bar flex centered text-white"
              :style="{width: playerHealth + '%'}">{{playerHealth}}
          </div>
        </div>
        <div class="health-wrapper">
          <!-- <img src="images/monster.gif" alt=""> -->
          <div id="monster" class="health-wrapper-bar flex centered text-white"
              :style="{width: monsterHealth + '%'}">{{monsterHealth}}
          </div>
        </div>
    	</div>
      <!-- control -->
      <div class="command flex centered">

        <template v-if="!gameIsRunning">
          <button @click="startGame()">Start Fighting </button>
        </template>

        <template v-if="gameIsRunning">
          <button @click="playerAttack(); monsterAttack()">Attack {{combatWatch}}</button>
          <button @click="spell" :disabled="!castSpell">Spell : {{spellCount}}</button>
          <button @click="heal()">Heal</button>
          <button @click="resetGame()">Reset</button>
        </template>

      </div>

  </div>
  </body>
</html>
