$color-bg: #e2e1e0;
$color-frame: rgb(255, 255, 255);
$playerHealth: rgba(39, 230, 0, 1);
$monsterHealth: red;

$button-hover-color: rgba(0, 31, 255, 0.07);
$button-active-color: rgba(0, 31, 255, 0.2);
