@import 'normalize';
@import 'varibles';
@import 'ulti';
@import 'mixin';


// =======================

body {
  background-color: $color-bg;
}

#battleGround {
  padding: 0 10%;
}

.health {
  font-size: 0;
  padding: 20px;
  margin: 20px;
  background-color: $color-frame;

  @include drop-shadow();
  @include border-radius(5px);

  .health-wrapper {
    font-size: 16px;
    width: 50%;
    background-color: $color-bg;
    margin: 0;

    &-bar {
      width: 50%;
      height: 50px;
      transition: 500ms;

      &#player {
        background-color: $playerHealth;
      }

      &#monster {
        background-color: $monsterHealth;
      }
    }

  }
}

.command {
  width: calc(100% - 40px);
  padding: 20px;
  background-color: $color-frame;
  margin: 20px;
  @include border-radius(5px);
  @include drop-shadow();

  button {
    cursor: pointer;
    width: 100%;
    padding: 20px;
  }
}

.log {

  height: 400px;
  width: calc(100% - 40px);
  overflow-y: scroll;
  background-color: $color-frame;
  padding: 20px;
  color: white;
  margin: 20px;
  @include border-radius(5px);
  @include drop-shadow();
}
